### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [97]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_csv('sensor_training_4.csv')
flow = pd.read_csv('flow_training_4.csv')

In [98]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

    Flow  hours  minutes  seconds
0  0.067   21.0     55.0   6.7508
1  0.067   21.0     55.0   6.7513
2  0.067   21.0     55.0   6.7518
3  0.067   21.0     55.0   6.7523
4  0.033   21.0     55.0   6.7528

In [99]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.416129,0.382682,0.432886,0.462733,0.000000,0.000000,0.000000,0.000000,21.0,55.0,14.818897
1,0.416129,0.382682,0.426174,0.462733,0.000000,0.000000,-0.327474,0.000000,21.0,55.0,14.829145
2,0.407527,0.319367,0.383290,0.429607,-0.260014,-1.913789,-1.988643,-1.001295,21.0,55.0,14.840173
3,0.389992,0.299270,0.378474,0.418502,-0.826873,-1.959823,-0.924175,-1.056002,21.0,55.0,14.850332
4,0.379015,0.300482,0.378631,0.411886,-0.996617,-1.052434,-0.305614,-0.914415,21.0,55.0,14.859789

In [119]:
df[1000:]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
1000,0.355349,0.376314,0.382302,0.403439,-0.041044,-0.050259,-0.020958,-0.033861,21.0,55.0,25.262022
1001,0.355672,0.376892,0.382214,0.403521,-0.037577,-0.043611,-0.020414,-0.032345,21.0,55.0,25.272405
1002,0.356080,0.377325,0.382588,0.403601,-0.033758,-0.037983,-0.018015,-0.030877,21.0,55.0,25.282706
1003,0.356479,0.377963,0.382495,0.403679,-0.030051,-0.031260,-0.017625,-0.029461,21.0,55.0,25.293000
1004,0.356870,0.378675,0.382861,0.403753,-0.026489,-0.024263,-0.015412,-0.028099,21.0,55.0,25.303318
...,...,...,...,...,...,...,...,...,...,...,...
9794,0.544668,0.629467,0.527146,0.509952,0.163684,0.145004,0.122311,0.113440,21.0,56.0,56.853544
9795,0.545818,0.630179,0.526675,0.509864,0.160278,0.139532,0.112203,0.102271,21.0,56.0,56.864029
9796,0.546400,0.631772,0.527742,0.510775,0.153662,0.140281,0.111415,0.100708,21.0,56.0,56.874651
9797,0.547451,0.632525,0.529265,0.511649,0.150142,0.135640,0.113560,0.099175,21.0,56.0,56.885149
9798,0.548453,0.634009,0.530240,0.512487,0.146561,0.135999,0.112257,0.097566,21.0,56.0,56.895679

In [62]:
len(df)

9799

In [132]:
flow[13422:199345]

          Flow  hours  minutes  seconds
13422   17.200   21.0     55.0  14.8182
13423   17.233   21.0     55.0  14.8188
13424   17.267   21.0     55.0  14.8194
13425   17.300   21.0     55.0  14.8200
13426   17.333   21.0     55.0  14.8207
...        ...    ...      ...      ...
199340  16.433   21.0     56.0  56.8938
199341  16.400   21.0     56.0  56.8942
199342  16.333   21.0     56.0  56.8947
199343  16.267   21.0     56.0  56.8952
199344  16.267   21.0     56.0  56.8957

[185923 rows x 4 columns]

In [133]:
flow = flow[13422:199345]

In [134]:
from scipy import signal
raw_data = flow['Flow']

In [135]:
flow_resample = signal.resample(raw_data, len(df['1']))

In [136]:
len(flow_resample)

9799

In [137]:
len(df)

9799

In [138]:
export_csv = pd.DataFrame(flow_resample).to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow_training_4.csv', header = True, index = None)

In [139]:
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensor_training_4.csv', header = True, index = None)