### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [153]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_excel('TrainingData_11_6.xlsx')
flow = pd.read_csv('FlowData_Nov6.csv')

In [154]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

    Flow  hours  minutes  seconds
0  0.000   14.0     58.0  52.4091
1 -0.033   14.0     58.0  52.4097
2 -0.033   14.0     58.0  52.4103
3 -0.033   14.0     58.0  52.4109
4  0.000   14.0     58.0  52.4116

In [155]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.drop('Unnamed: 0', inplace = True, axis = 1)
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.448000,0.472000,0.448000,0.488889,0.000000,0.000000,0.000000,0.000000,14.0,58.0,56.452582
1,0.448000,0.476000,0.452000,0.488889,0.000000,0.217988,0.217988,0.000000,14.0,58.0,56.461756
2,0.442667,0.471979,0.453340,0.491852,-0.187120,-0.056650,0.185052,0.103955,14.0,58.0,56.471257
3,0.441992,0.467932,0.447968,0.493343,-0.141453,-0.180708,-0.020557,0.111506,14.0,58.0,56.482890
4,0.443208,0.468765,0.451247,0.494239,-0.063514,-0.083391,0.110181,0.107435,14.0,58.0,56.492348

In [156]:
df[0:2]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.448,0.472,0.448,0.488889,0.0,0.000000,0.000000,0.0,14.0,58.0,56.452582
1,0.448,0.476,0.452,0.488889,0.0,0.217988,0.217988,0.0,14.0,58.0,56.461756

In [157]:
len(df)

19989

In [158]:
flow[7794:423273]

         Flow  hours  minutes  seconds
7794   -0.233   14.0     58.0  56.4527
7795   -0.233   14.0     58.0  56.4534
7796   -0.233   14.0     58.0  56.4540
7797   -0.233   14.0     58.0  56.4546
7798   -0.233   14.0     58.0  56.4552
...       ...    ...      ...      ...
423268 -0.033   15.0      2.0  29.5207
423269 -0.033   15.0      2.0  29.5212
423270 -0.033   15.0      2.0  29.5217
423271 -0.033   15.0      2.0  29.5222
423272 -0.033   15.0      2.0  29.5227

[415479 rows x 4 columns]

In [159]:
flow = flow[7794:423273]

In [160]:
from scipy import signal

In [149]:
flow_resample = signal.resample(flow['Flow'], len(df['1']))

In [ ]:
pd.DataFrame(flow_resample).to_csv("path/to/file.csv")

In [151]:
export_csv = flow_resample.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow.csv', header = True, index = None)
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensors.csv', header = True, index = None)

AttributeError: 'numpy.ndarray' object has no attribute 'to_csv'