### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [88]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_csv('sensor_stand_3.csv')
flow = pd.read_csv('flow_standing_3.csv')

In [89]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

    Flow  hours  minutes  seconds
0  0.000   23.0     31.0  25.2673
1  0.000   23.0     31.0  25.2677
2  0.000   23.0     31.0  25.2682
3  0.033   23.0     31.0  25.2687
4  0.000   23.0     31.0  25.2692

In [90]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.539683,0.650000,0.698795,0.701149,0.000000,0.000000,0.000000,0.000000,23.0,31.0,36.185354
1,0.531746,0.643750,0.698795,0.701149,-0.386523,-0.304387,0.000000,0.000000,23.0,31.0,36.195621
2,0.513033,0.633247,0.686747,0.689655,-0.842505,-0.508187,-0.291192,-0.277804,23.0,31.0,36.209413
3,0.499206,0.627907,0.680561,0.683761,-1.036882,-0.497689,-0.393687,-0.374045,23.0,31.0,36.220503
4,0.487357,0.627302,0.679341,0.682597,-1.048602,-0.370071,-0.300717,-0.287231,23.0,31.0,36.231618

In [91]:
df[0:10000]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.539683,0.650000,0.698795,0.701149,0.000000,0.000000,0.000000,0.000000,23.0,31.0,36.185354
1,0.531746,0.643750,0.698795,0.701149,-0.386523,-0.304387,0.000000,0.000000,23.0,31.0,36.195621
2,0.513033,0.633247,0.686747,0.689655,-0.842505,-0.508187,-0.291192,-0.277804,23.0,31.0,36.209413
3,0.499206,0.627907,0.680561,0.683761,-1.036882,-0.497689,-0.393687,-0.374045,23.0,31.0,36.220503
4,0.487357,0.627302,0.679341,0.682597,-1.048602,-0.370071,-0.300717,-0.287231,23.0,31.0,36.231618
...,...,...,...,...,...,...,...,...,...,...,...
9594,0.278926,0.331810,0.258004,0.193882,-0.069453,0.133494,0.159109,0.033083,23.0,33.0,20.380658
9595,0.278390,0.332217,0.261443,0.195415,-0.068428,0.124356,0.177648,0.040173,23.0,33.0,20.391539
9596,0.276799,0.330581,0.264855,0.196949,-0.072234,0.098452,0.193914,0.047004,23.0,33.0,20.402443
9597,0.276325,0.331025,0.268220,0.197852,-0.070805,0.092277,0.207922,0.049531,23.0,33.0,20.413279
9598,0.274787,0.330458,0.272478,0.199363,-0.074314,0.077523,0.229895,0.055594,23.0,33.0,20.424093

In [125]:
flow[18208:190894]

          Flow  hours  minutes  seconds
18208  -37.667   23.0     31.0  36.1854
18209  -37.433   23.0     31.0  36.1861
18210  -37.200   23.0     31.0  36.1867
18211  -36.900   23.0     31.0  36.1873
18212  -36.500   23.0     31.0  36.1879
...        ...    ...      ...      ...
190889  34.867   23.0     33.0  20.4222
190890  34.700   23.0     33.0  20.4227
190891  34.667   23.0     33.0  20.4232
190892  34.800   23.0     33.0  20.4237
190893  35.033   23.0     33.0  20.4241

[172686 rows x 4 columns]

In [126]:
flow = flow[18208:190894]

In [127]:
flow.head()

         Flow  hours  minutes  seconds
18208 -37.667   23.0     31.0  36.1854
18209 -37.433   23.0     31.0  36.1861
18210 -37.200   23.0     31.0  36.1867
18211 -36.900   23.0     31.0  36.1873
18212 -36.500   23.0     31.0  36.1879

In [128]:
from scipy import signal
raw_data = flow['Flow']

In [129]:
flow_resample = signal.resample(raw_data, len(df))

In [130]:
len(flow_resample)

9599

In [131]:
len(df)

9599

In [132]:
export_csv = pd.DataFrame(flow_resample).to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow_stand_3_clean.csv', header = True, index = None)

In [133]:
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensor_stand_3_clean.csv', header = True, index = None)