### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_excel('TestingData_11_7_Sensors.xlsx')
flow = pd.read_csv('TestingData_11_7.csv')

In [2]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

    Flow  hours  minutes  seconds
0  0.133   14.0     42.0  39.4510
1  0.167   14.0     42.0  39.4514
2  0.167   14.0     42.0  39.4519
3  0.167   14.0     42.0  39.4524
4  0.167   14.0     42.0  39.4529

In [3]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.drop('Unnamed: 0', inplace = True, axis = 1)
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.448000,0.41600,0.400000,0.48,0.000000,0.000000,0.000000,0.0,14.0,42.0,43.973451
1,0.444000,0.41600,0.400000,0.48,-0.194695,0.000000,0.000000,0.0,14.0,42.0,43.983724
2,0.437298,0.41600,0.400000,0.48,-0.360026,0.000000,0.000000,0.0,14.0,42.0,43.995106
3,0.435948,0.41200,0.398000,0.48,-0.274811,-0.099845,-0.049923,0.0,14.0,42.0,44.005121
4,0.435143,0.41119,0.391962,0.48,-0.213561,-0.095974,-0.187615,0.0,14.0,42.0,44.014615

In [36]:
df[9988:]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
9988,0.31595,0.270935,0.213254,0.382047,-0.050572,-0.087829,-0.090732,-0.037043,14.0,44.0,30.008749

In [6]:
len(df)

9989

In [68]:
flow[8049:214875]

         Flow  hours  minutes  seconds
8049   -2.733   14.0     42.0  43.9735
8050   -2.700   14.0     42.0  43.9741
8051   -2.667   14.0     42.0  43.9747
8052   -2.667   14.0     42.0  43.9752
8053   -2.633   14.0     42.0  43.9758
...       ...    ...      ...      ...
214870 -2.700   14.0     44.0  30.0066
214871 -2.700   14.0     44.0  30.0072
214872 -2.667   14.0     44.0  30.0078
214873 -2.667   14.0     44.0  30.0084
214874 -2.633   14.0     44.0  30.0091

[206826 rows x 4 columns]

In [69]:
flow = flow[8049:214875]

In [70]:
from scipy import signal
raw_data = flow['Flow']

In [71]:
flow_resample = signal.resample(raw_data, len(df['1']))

In [72]:
export_csv = pd.DataFrame(flow_resample).to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow_test_2.csv', header = True, index = None)

In [73]:
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensors_test_2.csv', header = True, index = None)