### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_excel('TrainingData_11_7.xlsx')
flow = pd.read_csv('Training_Nov7.csv')

In [2]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

   Flow  hours  minutes  seconds
0   0.0   13.0     51.0   4.6439
1   0.0   13.0     51.0   4.6445
2   0.0   13.0     51.0   4.6451
3   0.0   13.0     51.0   4.6457
4   0.0   13.0     51.0   4.6463

In [3]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.drop('Unnamed: 0', inplace = True, axis = 1)
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.416000,0.384000,0.304000,0.453333,0.000000,0.000000,0.000000,0.000000,13.0,51.0,7.382578
1,0.416000,0.392000,0.348000,0.448889,0.000000,0.436986,2.403425,-0.242770,13.0,51.0,7.391731
2,0.408000,0.389305,0.360684,0.447399,-0.280645,0.076788,1.586493,-0.205182,13.0,51.0,7.401233
3,0.393750,0.387960,0.369058,0.448894,-0.764327,-0.027499,1.144174,-0.087405,13.0,51.0,7.410709
4,0.393379,0.387156,0.374017,0.447994,-0.411450,-0.049084,0.815545,-0.089925,13.0,51.0,7.420138

In [19]:
df[19985:19989]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
19985,0.329756,0.354734,0.307949,0.449937,0.003481,-0.000812,0.033404,0.008202,13.0,54.0,40.700320
19986,0.330574,0.355212,0.309830,0.450561,0.005654,0.000464,0.041299,0.010457,13.0,54.0,40.710912
19987,0.331567,0.355556,0.311512,0.450979,0.008368,0.001371,0.048293,0.011748,13.0,54.0,40.721566
19988,0.332580,0.356033,0.312421,0.451389,0.011222,0.002613,0.050649,0.012932,13.0,54.0,40.732225

In [4]:
len(df)

19989

In [52]:
flow[5248:431087]

          Flow  hours  minutes  seconds
5248     0.100   13.0     51.0   7.3823
5249     0.100   13.0     51.0   7.3828
5250     0.133   13.0     51.0   7.3833
5251     0.100   13.0     51.0   7.3837
5252     0.100   13.0     51.0   7.3842
...        ...    ...      ...      ...
431082  21.733   13.0     54.0  40.7308
431083  21.700   13.0     54.0  40.7313
431084  21.700   13.0     54.0  40.7318
431085  21.667   13.0     54.0  40.7323
431086  21.667   13.0     54.0  40.7328

[425839 rows x 4 columns]

In [53]:
flow = flow[5248:431087]

In [54]:
from scipy import signal
raw_data = flow['Flow']

In [55]:
flow_resample = signal.resample(raw_data, len(df['1']))

In [56]:
export_csv = pd.DataFrame(flow_resample).to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow_test.csv', header = True, index = None)

In [57]:
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensors_test.csv', header = True, index = None)