### Clean Training Data
#### Inputs
- Flow data from Sensirion data gathering software (csv)
- Sensor data from Read_Write_Sensor python script

#### Outputs
- Export Flow csv file
- Export SensorData csv file

#### Notes
- Make sure to line up timescales prior to exporting
- Next step is to scale in Matlab

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import time
import datetime

df = pd.read_excel('sensor_training_2.xlsx')
flow = pd.read_csv('flow_walking_2.csv')

In [2]:
hours = []
minutes = []
seconds = []

for i in range(0, len(flow)):
    t = flow['Time'][i]
    a = t.split(':')
    hours.append(float(a[0]))
    seconds.append(float(a[2]))
    minutes.append(float(a[1]))
    
flow['Hours'] = hours
flow['Minutes'] = minutes
flow['Seconds'] = seconds
flow.drop('Date', inplace = True, axis = 1)
flow.drop('Sample #', inplace = True, axis = 1)
flow.drop('Time', inplace = True, axis = 1)
flow.columns = ['Flow', 'hours', 'minutes', 'seconds']
flow.head()

    Flow  hours  minutes  seconds
0 -9.733   10.0     50.0   1.1354
1 -9.700   10.0     50.0   1.1360
2 -9.700   10.0     50.0   1.1366
3 -9.667   10.0     50.0   1.1372
4 -9.667   10.0     50.0   1.1378

In [3]:
seconds = []
minutes = []
hours = []

for i in range(0, len(df)):
    t = datetime.datetime.fromtimestamp(df['timeTracker'][i]).strftime('%Y-%m-%d %H:%M:%S.%f')
    a = t.split(' ')
    t = a[1].split(':')
    hours.append(float(t[0]))
    seconds.append(float(t[2]))
    minutes.append(float(t[1]))
    
df.drop('timeTracker', inplace = True, axis = 1)
df['Time Hours'] = hours
df['Time Minutes'] = minutes
df['Time Seconds'] = seconds
df.drop('Unnamed: 0', inplace = True, axis = 1)
df.columns = ['1', '2', '3', '4', 'd1', 'd2', 'd3', 'd4', 'hours', 'minutes', 'seconds']
df.head()

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
0,0.412800,0.412800,0.419200,0.400000,0.000000,0.000000,0.000000,0.000000,10.0,49.0,57.143659
1,0.412800,0.412800,0.419200,0.400000,0.000000,0.000000,0.000000,0.000000,10.0,49.0,57.153986
2,0.410667,0.408533,0.414933,0.395733,-0.065623,-0.131245,-0.131245,-0.131245,10.0,49.0,57.164823
3,0.409595,0.404764,0.411164,0.395195,-0.075524,-0.202806,-0.202806,-0.104813,10.0,49.0,57.175565
4,0.407662,0.403793,0.412803,0.396165,-0.099429,-0.170100,-0.100186,-0.053735,10.0,49.0,57.186377

In [25]:
df[394:]

,1,2,3,4,d1,d2,d3,d4,hours,minutes,seconds
394,0.731309,0.751686,0.728809,0.781483,0.105801,0.186839,0.294937,0.345199,10.0,50.0,1.139983
395,0.732341,0.753891,0.731525,0.785005,0.105907,0.188878,0.294519,0.346261,10.0,50.0,1.149434
396,0.733343,0.756291,0.734773,0.788314,0.105901,0.191718,0.297066,0.346372,10.0,50.0,1.158912
397,0.734314,0.758610,0.737137,0.791787,0.105788,0.194066,0.294488,0.347056,10.0,50.0,1.168432
398,0.735255,0.760844,0.740384,0.795052,0.105610,0.196003,0.297086,0.347001,10.0,50.0,1.177880
...,...,...,...,...,...,...,...,...,...,...,...
19984,0.424254,0.573499,0.486497,0.340198,-0.033072,-0.138547,-0.082751,-0.120438,10.0,53.0,28.486115
19985,0.423249,0.571480,0.486209,0.339251,-0.035030,-0.141704,-0.079659,-0.118491,10.0,53.0,28.496729
19986,0.422388,0.569738,0.485934,0.338616,-0.036533,-0.143014,-0.076652,-0.114911,10.0,53.0,28.507396
19987,0.421589,0.567840,0.485671,0.338013,-0.037814,-0.145055,-0.073742,-0.111358,10.0,53.0,28.518070
19988,0.420799,0.566005,0.485114,0.337440,-0.039002,-0.146467,-0.072499,-0.107801,10.0,53.0,28.528888

In [5]:
len(df)

19989

In [54]:
flow[7:403712]

          Flow  hours  minutes  seconds
7       -9.700   10.0     50.0   1.1395
8       -9.767   10.0     50.0   1.1401
9       -9.767   10.0     50.0   1.1407
10      -9.833   10.0     50.0   1.1413
11      -9.900   10.0     50.0   1.1419
...        ...    ...      ...      ...
403707  17.433   10.0     53.0  28.5263
403708  17.433   10.0     53.0  28.5269
403709  17.400   10.0     53.0  28.5275
403710  17.400   10.0     53.0  28.5282
403711  17.433   10.0     53.0  28.5288

[403705 rows x 4 columns]

In [55]:
flow = flow[7:403712]
df = df[394:]

In [56]:
from scipy import signal
raw_data = flow['Flow']

In [57]:
flow_resample = signal.resample(raw_data, len(df['1']))

In [58]:
len(flow_resample)

19595

In [59]:
len(df)

19595

In [60]:
export_csv = pd.DataFrame(flow_resample).to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/flow_walking.csv', header = True, index = None)

In [61]:
export_csv = df.to_csv(r'/Users/mikefurr/Documents/GitHub/coral_host/Jupyter_Notebooks/sensors_walking.csv', header = True, index = None)